<template>
    <div class="container">
        <div class="text-center m-5">
            <span class="lead">Laravel 9 CRUD Operation using Vue.js and Sanctum-Token</span>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse">
                <div class="navbar-nav">
                    <router-link to="/login" class="btn btn-primary m-1 nav-link">Login</router-link>
                    <router-link to="/register" class="btn btn-success m-1 nav-link">Register</router-link>
                    <router-link to="/searchcar" class="btn btn-warning m-1 nav-link">Search Car</router-link>
                </div>
            </div>
        </nav>            
        <router-view></router-view>
    </div>
</template>
<script>
    export default {}    
</script>