<template>
    <div class="container">       
            <div class="postinfotop">
                <h2>Login User</h2>
                <p id="text" style="color:green; margin-left:100px;"></p>
            </div>
            <div id="validation-success" class="alert alert-success" v-show="success">Successfully Form Submit!</div>
            <div v-if="errors">
                <div v-for="error in errors" class="alert alert-danger">{{ error }}</div>
            </div>
            <div class="card">
                <div class="card-header">Login User-VUE</div>
                    <div class="card-body">            
                        <form action="#" @submit.prevent="login" class="form-horizontal" style="width: 200px; margin:auto">
                                <div class="d-flex justify-content-between">    
                                    <label for="email" class="col-sm-10 col-form-label col-form-label">Email:</label>
                                    <input type="email" v-model="formData.email" placeholder="(enter email)" class="form-control-sm-plaintext rounded-3">                       
                                </div>
                                <br>
                                <div class="d-flex justify-content-between">      
                                    <label for="password" class="col-sm-10 col-form-label col-form-label">Password:</label>                       
                                    <input type="password" v-model="formData.password"  placeholder="(enter password)" class="form-control-sm-plaintext rounded-3">                        
                                </div>
                            <button type="submit" class="btn btn-primary">Login</button>
                        </form>
                    </div>               
            </div>                   
    </div>
</template>

<script>
export default {    
    data () {
        return {
            formData: {                    
                    email: '',
                    password: '',
                    device_name: 'browser'                    
                },                           
            errors:[],            
            success: false
        }        
    },
    methods: {
        login(){
                if(!this.formData.email){
                    this.errors.push('Email is required!');                    
                }

                if(!this.formData.password){
                    this.errors.push('Password is required!');                    
                }               

                if(this.errors.length == 0){                                                        
                    axios.post('http://localhost:8000/api/login', this.formData)
                            .then(response=>{
                                localStorage.setItem('token', response.data);
                                this.errors = "";                               
                                this.$router.push('/users');
                                this.$router.go();    
                            })

                        }
                }        
        }
    }
</script> 