<template>
    <div class="container">       
            <div class="postinfotop">
                <h2>Register User</h2>
                <p id="text" style="color:green; margin-left:100px;"></p>
            </div>
            <div id="validation-success" class="alert alert-success" v-show="success">Successfully Form Submit!</div>
            <div v-if="errors">
                <div v-for="error in errors" class="alert alert-danger">{{ error }}</div>
            </div>
            <div class="card">
                <div class="card-header">Register User-VUE</div>
                    <div class="card-body">            
                        <form action="#" @submit.prevent="register" class="form-horizontal" style="width: 200px; margin:auto">                                
                                <div class="d-flex justify-content-between">                                                                 
                                    <label for="name" class="col-sm-10 col-form-label col-form-label">Name:</label>
                                    <input type="text" v-model="formData.name" placeholder="(enter name)" class="form-control-sm-plaintext rounded-3">                        
                                </div>
                                <br>
                                <div class="d-flex justify-content-between">    
                                    <label for="email" class="col-sm-10 col-form-label col-form-label">Email:</label>
                                    <input type="email" v-model="formData.email" placeholder="(enter email)" class="form-control-sm-plaintext rounded-3">                       
                                </div>
                                <br>
                                <div class="d-flex justify-content-between">      
                                    <label for="password" class="col-sm-10 col-form-label col-form-label">Password:</label>                       
                                    <input type="password" v-model="formData.password"  placeholder="(enter password)" class="form-control-sm-plaintext rounded-3">                        
                                </div>
                                <br>
                                <div class="d-flex justify-content-between">     
                                        <label for="password_confirmation" class="col-sm-10 col-form-label col-form-label">Password Confirmation:</label>
                                        <input type="password" v-model="formData.password_confirmation" placeholder="(confirm password)" class="form-control-sm-plaintext rounded-3">                        
                                </div>                      
                            <br><br>
                            <button type="submit" class="btn btn-primary">Register</button>
                        </form>
                    </div>
            </div>                              
    </div>                   
    
</template>

<script>
export default {
    data () {
        return {
            formData: {
                    name: '',
                    email: '',
                    password: '',
                    password_confirmation: ''
                },
            
            errors:[],
            success: false
        }        
    },
    methods: {
        register () {
                if(!this.formData.name){
                    this.errors.push('User name is required!');                    
                }

                if(!this.formData.email){
                    this.errors.push('User email is required!');                    
                }

                if(!this.formData.password){
                    this.errors.push('Password is required!');                    
                }

               if(!this.formData.password_confirmation){
                    this.errors.push('Confirm the password!');                    
                }

                if(this.errors.length == 0){

                    axios.post('/api/register', this.formData)
                            .then(response=>{                         
                                this.formData.name = "";
                                this.formData.email= "";
                                this.formData.password="";
                                this.formData.password_confirmation="";
                                this.errors = {};
                                this.$router.push('/login');
                                this.$router.go();     
                            });
                        }
                }        
        }    
    }
</script> 