<template>
    <div class="container">
        <div class="postinfotop">
                <h2>Add Car</h2>
                <p id="text" style="color:green; margin-left:100px;"></p>
            </div>
        <div id="validation-success" class="alert alert-success" v-show="success">Successfully Car Submit!</div>
        <div v-if="errors">
            <div v-for="error in errors" class="alert alert-danger">{{ error }}</div>
        </div>
        <div class="card">
            <div class="card-header">Add Car-VUE</div>
                <div class="card-body">          
                    <form action="#" @submit.prevent="saveCar" class="form-horizontal" style="width: 200px; margin:auto">          
                       <div class="d-flex justify-content-between">
                            <label for="brand" class="col-sm-10 col-form-label col-form-label">Car Brand:</label>            
                            <input type="text" v-model="car.brand" placeholder="(enter car brand)" class="form-control-sm-plaintext rounded-3">
                        </div>
                        <br>
                        <div class="d-flex justify-content-between">       
                            <label for="year" class="col-sm-10 col-form-label col-form-label">Car Year:</label>                            
                            <select v-model="car.year">
                                <option disabled value="">(select year)</option>                                  
                                <option v-for="year in years" :value="year">{{ year }}</option>
                            </select>                            
                        </div>
                        <br>    
                        <div class="d-flex justify-content-between">
                            <label for="price" class="col-sm-10 col-form-label col-form-label">Car Price</label>
                            <input type="number" v-model="car.price" placeholder="(enter car price)" class="form-control-sm-plaintext rounded-3">                
                        </div>
                        <br>
                        <div class="d-flex justify-content-between">            
                            <label for="gearbox" class="col-sm-10 col-form-label col-form-label">Car Gearbox:</label>
                            <input type="radio" v-model="car.gearbox" class ="mr-10" value="Manual">Manual
                            <input type="radio" v-model="car.gearbox" class ="mr-10" value="Automatic">Automatic                            
                        </div>
                        <br>        
                        <div class="d-flex justify-content-between">
                            <label for="emissions" class="col-sm-10 col-form-label col-form-label">Car Emissions:</label>
                            <select v-model="car.emissions">
                                <option disabled value="">(select emission)</option>                                   
                                <option>Euro 1</option>
                                <option>Euro 2</option>  
                                <option>Euro 3</option>    
                                <option>Euro 4</option>
                                <option>Euro 5</option>
                                <option>Euro 6</option>  
                            </select>                            
                        </div>
                        <br>
                        <div class="d-flex justify-content-between">
                            <label for="service" class="col-md-4 col-form-label">Service Book:</label>
                            <input type="checkbox" v-model="car.service" class ="mr-1" true-value="yes"
                                false-value="no">
                        </div>
                        <br>
                        <div class="d-flex justify-content-between">
                            <label for="information" class="col-md-8 col-form-label">Other Informations:</label>
                            <textarea v-model="car.information" rows="5" class="col-md-12"></textarea>
                        </div>
                        <br>                  
                        <div class="d-flex justify-content-between">
                            <label for="images" class="col-md-10 col-form-label">Car Images:</label>
                            <input type="file" name="images" ref="files" multiple v-on:change="imageChange" class="col-md-12">
                        </div>
                        <br>
                        <div class="d-flex justify-content-between">                            
                                <button class="btn btn-primary">Save Car</button>
                        </div>
                    </form>
                </div>
            </div>
       </div>
    </div>
</template>

<script>
    export default {                
        data(){            
            return {
                car:{
                    brand:'',
                    year:'',
                    price:'',
                    gearbox:'',
                    emissions:'',
                    service:'',
                    information:'',
                    user_id: this.$userId
                },
                images:[],
                errors:[],
                success: false               
            }            
        },

        computed:{
            years() {
                const year = new Date().getFullYear()
                return Array.from({length: year - 1960}, (value, index) => 1961 + index)
                }
        },

        methods:{
            imageChange(){
                let ext = ['image/jpeg','image/jpg','image/bmp','image/png'];
                for(let i=0; i < this.$refs.files.files.length; i++){
                    if(ext.includes(this.$refs.files.files[i].type)){
                        this.images.push(this.$refs.files.files[i]);
                    }
                    else{
                        this.errors.push('The file is not an image!'); 
                    }                   
                }
            },

            saveCar(){ 

                if(!this.car.brand){
                    this.errors.push('Car brand is required!');                    
                }

                if(!this.car.year){
                    this.errors.push('Car year is required!');                    
                }

                if(!this.car.price){
                    this.errors.push('Car price is required!');                    
                }

                if(Number.isInteger(this.car.price) === "false"){
                    this.errors.push('Car price must be an integer value!');                    
                }

                if(this.car.price < 0){
                    this.errors.push('Car price must be greater than 0!');
                }

                if(!this.car.gearbox){
                    this.errors.push('Please select gearbox type!');                    
                }

                if(!this.car.emissions){
                    this.errors.push('Please select emissions type!');                    
                }

                if(this.errors.length == 0){
                
                    let formData = new FormData(); 

                    formData.append('brand', this.car.brand);
                    formData.append('year', this.car.year);              
                    formData.append('price', this.car.price);
                    formData.append('gearbox', this.car.gearbox);
                    formData.append('emissions', this.car.emissions);
                    formData.append('service', this.car.service);
                    formData.append('information', this.car.information);                    
                    
                    for(let i=0; i < this.images.length; i++){
                        let file = this.images[i];
                        formData.append('files['+ i +']', file);
                    }

                    const config = {
                        headers: {"content-type" : "multipart/form-data"}
                    }

                    axios.post('http://localhost:8000/api/cars', formData, config)
                        .then(response=>{
                            this.success = true;                            
                            this.car.brand= "";
                            this.car.year = "";
                            this.car.price= "";
                            this.car.gearbox="";
                            this.car.emissions="";
                            this.car.service="";
                            this.car.information="";
                            this.$refs.files.value = "";
                            this.images = [];                           
                            this.$router.push('/users');                                
                        }).catch(error => {
                            if(error.response.status == 422) {
                                this.errors = error.response.data.errors;
                                
                            }
                        });
                }    
            }           
        }
    }
</script>
