<template>
    <div class="container">
        <div class="postinfotop">
                <h2>Edit Car</h2>
                <p id="text" style="color:green; margin-left:100px;"></p>
            </div>
        <div id="validation-success" class="alert alert-success" v-show="success">Successfully Car Update!</div>
        <div v-if="errors">
            <div v-for="error in errors" class="alert alert-danger">{{ error }}</div>
        </div>
        <div class="card">
            <div class="card-header">Edit Car-VUE</div>
                <div class="card-body">          
                   
                        <table class="table">          
                            <tr>
                                <td><label for="brand">Car Brand:</label></td>            
                                <td><input type="text" v-model="car.brand" class="form-control-sm-plaintext rounded-3"></td>
                            </tr>                            
                            <tr>       
                                <td><label for="year">Car Year:</label></td>                            
                                <td>
                                    <select v-model="car.year">
                                        <option disabled value="">(select year)</option>                                  
                                        <option v-for="year in years" :value="year">{{ year }}</option>
                                    </select>
                                </td>                                
                            </tr>                                
                            <tr>
                                <td><label for="price">Car Price</label></td>
                                <td><input type="number" v-model="car.price" class="form-control-sm-plaintext rounded-3"></td>                
                            </tr>                            
                            <tr>            
                                <td><label for="gearbox">Car Gearbox:</label></td>
                                <td>
                                    <input type="radio" v-model="car.gearbox" class ="mr-10" value="Manual">Manual
                                    <input type="radio" v-model="car.gearbox" class ="mr-10" value="Automatic">Automatic
                                </td>                                
                            </tr>                                    
                            <tr>
                                <td><label for="emissions">Car Emissions:</label></td>
                                <td>
                                    <select v-model="car.emissions">
                                        <option disabled value="">(select emission)</option>                                   
                                        <option>Euro 1</option>
                                        <option>Euro 2</option>  
                                        <option>Euro 3</option>    
                                        <option>Euro 4</option>
                                        <option>Euro 5</option>
                                        <option>Euro 6</option>  
                                    </select>
                                </td>                                
                            </tr>                            
                            <tr>
                                <td><label for="service">Service Book:</label></td>
                                <td><input type="checkbox" v-model="car.service" class ="mr-1" true-value="yes"
                                    false-value="no">
                                </td>    
                            </tr>                            
                            <tr>
                                <td><label for="information">Other Informations:</label></td>
                                <td><textarea v-model="car.information" rows="5" class="col-md-12"></textarea></td>
                            </tr>
                            <tr> 
                                <td><label for="image">Images:</label></td>
                            </tr>
                            <tr v-for="carphoto in car.carphotos" :key="carphoto.id">    
                                <td>
                                    <img class="px-4 py-2 m-2" :src="carphoto.image" style="width: 150px; height: 100px">               
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" @click="destroyOnePicture(carphoto.id)">Delete</button>                   
                                </td>
                            </tr>        
                            <tr>
                                <td><label for="images">Update Images:</label><td>
                                <td><input type="file" name="images" ref="files" multiple v-on:change="imageChange" class="col-md-12"></td>
                            </tr>                                                        
                            <tr>                            
                                <td colspan="2"><button type="button" class="btn btn-primary" @click="updateCar(car.id)">Update Car</button></td>
                            </tr>
                        </table>    
                    
                </div>
            </div>
       </div>
    </div>
</template>

<script>
    export default {                
        data(){            
            return {
                car:{
                    brand:'',
                    year:'',
                    price:'',
                    gearbox:'',
                    emissions:'',
                    service:'',
                    information:''                    
                },
                images:[],
                errors:[],
                success: false               
            }            
        },

        computed:{
            years() {
                const year = new Date().getFullYear()
                return Array.from({length: year - 1960}, (value, index) => 1961 + index)
                }
        },
        created() {
          axios.get(`http://localhost:8000/api/cars/${this.$route.params.id}`)                
                .then((response) => {
                    this.car = response.data;
                });
        },
        methods:{
            imageChange(){
                let ext = ['image/jpeg','image/jpg','image/bmp','image/png'];
                for(let i=0; i < this.$refs.files.files.length; i++){
                    if(ext.includes(this.$refs.files.files[i].type)){
                        this.images.push(this.$refs.files.files[i]);
                    }
                    else{
                        this.errors.push('The file is not an image!'); 
                    }                   
                }
            },

            updateCar(id){ 

                if(!this.car.brand){
                    this.errors.push('Car brand is required!');                    
                }

                if(!this.car.year){
                    this.errors.push('Car year is required!');                    
                }

                if(!this.car.price){
                    this.errors.push('Car price is required!');                    
                }

                if(Number.isInteger(this.car.price) === "false"){
                    this.errors.push('Car price must be an integer value!');                    
                }

                if(this.car.price < 0){
                    this.errors.push('Car price must be greater than 0!');
                }

                if(!this.car.gearbox){
                    this.errors.push('Please select gearbox type!');                    
                }

                if(!this.car.emissions){
                    this.errors.push('Please select emissions type!');                    
                }

                if(this.errors.length == 0){
                
                    let formData = new FormData(); 

                    formData.append('brand', this.car.brand);
                    formData.append('year', this.car.year);              
                    formData.append('price', this.car.price);
                    formData.append('gearbox', this.car.gearbox);
                    formData.append('emissions', this.car.emissions);
                    formData.append('service', this.car.service);
                    formData.append('information', this.car.information);                    
                    
                    for(let i=0; i < this.images.length; i++){
                        let file = this.images[i];
                        formData.append('files['+ i +']', file);
                    }

                    const config = {
                        headers: {"content-type" : "multipart/form-data"}
                    }

                    axios.post(`http://localhost:8000/api/updatecar/${id}`, formData, config)
                        .then(response=>{
                            this.success = true;                            
                            this.car.brand= "";
                            this.car.year = "";
                            this.car.price= "";
                            this.car.gearbox="";
                            this.car.emissions="";
                            this.car.service="";
                            this.car.information="";
                            this.$refs.files.value = "";
                            this.images = [];
                            this.$router.push('/users');                                 
                        }).catch(error => {
                            if(error.response.status == 422) {
                                this.errors = error.response.data.errors;
                                
                            }
                        });
                }    
            },

            destroyOnePicture(id){
                axios.delete(`http://localhost:8000/api/destroy-onephoto/${id}`)
                    .then(response=>{
                        //console.log("Picture deleted!");
                        this.$router.push('/users');                                           
                    });
            }             
        }
    }
</script>
