<template>
    <div class="container">
        <div class="postinfotop">
                <h2>Search Car</h2>
                <p id="text" style="color:green; margin-left:100px;"></p>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-header">Search Car-VUE</div>
                    <div class="card-body">
                        <table class="table">            
                            <tr>
                                <td><label for="brand">Car Brand</label></td>            
                                <td><input type="text" v-model="search.brand" placeholder="(enter car brand)"></td>
                            </tr>
                            <tr>        
                                <td><label for="year">Car Year</label></td>
                                <td>
                                    <select v-model="search.startyear">
                                        <option disabled value="">(from year)</option>                                  
                                        <option v-for="year in years" :value="year">{{ year }}</option>
                                    </select>
                                </td>
                                <td>
                                    <select v-model="search.endyear">
                                        <option disabled value="">(to year)</option>                                  
                                        <option v-for="year in years" :value="year">{{ year }}</option>
                                    </select>
                                </td> 
                            </tr>    
                            <tr>
                                <td><label for="price">Car Price</label></td>
                                <td><input type="number" v-model="search.startprice" placeholder="(from price)"></td>
                                <td><input type="number" v-model="search.endprice" placeholder="(to price)"></td>                  
                            </tr>
                            <tr>            
                                <td><label for="gearbox">Car Gearbox</label></td>
                                <td>
                                    <input type="radio" v-model="search.gearbox" class ="mr-1" value="Manual">Manual
                                    <input type="radio" v-model="search.gearbox" class ="mr-1" value="Automatic">Automatic
                                </td>
                            </tr>        
                            <tr>
                                <td><label for="emissions">Car Emissions</label></td>
                                <td>
                                    <select v-model="search.emissions">
                                        <option disabled value="">(select emission)</option>                                   
                                        <option>Euro 1</option>
                                        <option>Euro 2</option>  
                                        <option>Euro 3</option>    
                                        <option>Euro 4</option>
                                        <option>Euro 5</option>
                                        <option>Euro 6</option>  
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="service" class="col-md-4 col-form-label">Service Book</label></td>
                                <td><input type="checkbox" v-model="search.service" class ="mr-1" true-value="yes"
                                    false-value="no"></td>
                            </tr>
                            <tr>
                                <button class="btn btn-primary" @click="resultSearch()">Result Search</button>
                            </tr>
                        </table>               
                    </div>
                </div>
            </div>     
            <br><br>
            <div class="col">      
                <table class="table table-bordered" v-if="cars.length >=1">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Brand</th>
                            <th>Price</th>                            
                            <th>User email</th>                           
                            <th>Images</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(car,i) in cars" :key="car.id">
                                <td>{{ car.id }}</td>
                                <td>{{ car.brand }}</td>
                                <td>{{ car.price }}</td>                            
                                <td>{{ car.user.email }}</td> 
                                <td>
                                    <img class="px-4 py-2 m-2" v-for="carphoto in car.carphotos" :src="carphoto.image" :key="carphoto.id" style="width: 150px; height: 100px">
                                </td>
                                <td>
                                                
                                </td> 
                        </tr> 
                    </tbody>                    
                </table>
                <table v-else>
                    <tr>
                        <td colspan="6">No cars found!</td>
                    </tr>
                </table>
            </div>
       </div>
    
</template>
<script>
    export default {                
        data(){            
            return {
                search:{
                        brand:'',
                        startyear:'',
                        endyear:'',
                        startprice:'',
                        endprice:'',
                        gearbox:'',
                        emissions:'',
                        service:''
                        
                                                 
                },
                cars:[]
            }            
        },

        computed:{
            years() {
                const year = new Date().getFullYear()
                return Array.from({length: year - 1960}, (value, index) => 1961 + index)
                }
        },

        methods:{
           resultSearch(){
               axios.post(`http://localhost:8000/api/search?`, this.search) 
                    .then(response=>{                        
                         this.cars = response.data;   
                    });
            }
        }
    }
</script>
