<template>
    <div class="container">       
            <div class="postinfotop">
                <h2>Edit User</h2>
                <p id="text" style="color:green; margin-left:100px;"></p>
            </div>
            <div id="validation-success" class="alert alert-success" v-show="success">Successfully Form Submit!</div>
            <div v-if="errors">
                <div v-for="error in errors" class="alert alert-danger">{{ error }}</div>
            </div>
            <div class="card">
                <div class="card-header">Edit User-VUE</div>
                    <div class="card-body">            
                        <form action="#" @submit.prevent="update" class="form-horizontal" style="width: 200px; margin:auto">                                
                                <div class="d-flex justify-content-between">                                                                 
                                    <label for="name" class="col-sm-10 col-form-label col-form-label">Name:</label>
                                    <input type="text" v-model="user.name" class="form-control-sm-plaintext rounded-3">                        
                                </div>
                                <br>
                                <div class="d-flex justify-content-between">    
                                    <label for="email" class="col-sm-10 col-form-label col-form-label">Email:</label>
                                    <input type="email" v-model="user.email" class="form-control-sm-plaintext rounded-3">                       
                                </div>
                                <br>
                                <div class="d-flex justify-content-between">      
                                    <label for="password" class="col-sm-10 col-form-label col-form-label">Password:</label>                       
                                    <input type="password" v-model="user.password"  class="form-control-sm-plaintext rounded-3">                        
                                </div>
                                <br>
                                <div class="d-flex justify-content-between">     
                                        <label for="password_confirmation" class="col-sm-10 col-form-label col-form-label">Password Confirmation:</label>
                                        <input type="password" v-model="user.password_confirmation" class="form-control-sm-plaintext rounded-3">                        
                                </div>                      
                            <br><br>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </form>
                    </div>
                </div>                              
            </div>                   
    </div>
</template>

<script>
export default {
    data () {
        return {
            user: {},
            errors:[],
            success: false
           
        }        
    },
    
    created() {
           
            axios.get(`http://localhost:8000/api/edit/${this.$route.params.id}`)
                .then((response) => {                    
                    this.user = response.data;
                });
            
    },

    methods: {
        update() {
                if(!this.user.name){
                    this.errors.push('User name is required!');                    
                }

                if(!this.user.email){
                    this.errors.push('User email is required!');                    
                }

                if(!this.user.password){
                    this.errors.push('Password is required!');                    
                }

               if(!this.user.password_confirmation){
                    this.errors.push('Confirm the password!');                    
                }

                if(this.errors.length == 0){

                    axios.put(`http://localhost:8000/api/update/${this.$route.params.id}`, this.user)
                            .then(response=>{                         
                                this.user.name = "";
                                this.user.email= "";
                                this.user.password="";
                                this.user.password_confirmation="";
                                this.errors = {};                                
                                this.$router.push('/users');                                  
                            });
                        }
                }        
        }    
    }
</script> 