<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <h5 class="text-center">Welcome {{user.name}}!</h5>
                <router-link :to="{name: 'edit', params: { id: user.id }}" class="btn btn-success m-2">Edit User</router-link>                             
                <button class="btn btn-danger" @click="logout">Logout</button>
                <br><br>
                <p>                    
                    <router-link to="/addcar" class="btn btn-primary float-right">Add Car</router-link>
                </p>                                            
            </div>
        </div>        
        <br>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">Id</th>
                            <th class="text-center">Brand</th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Images</th>                            
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(car, index) in cars.data" :key="index" class="text-center">
                            <td>{{ car.id }}</td>
                            <td>{{ car.brand }}</td>
                            <td>{{ car.price }}</td>
                            <td>
                                <img class="px-4 py-2 m-2" v-for="carphoto in car.carphotos" :src="carphoto.image" :key="carphoto.id" alt="car images" style="width: 150px; height: 100px">
                            </td>                           
                            <td>
                               <router-link :to="{name: 'editcar', params: { id: car.id }}" class="btn btn-success m-1">Edit</router-link>
                               <button class="btn btn-danger m-1" @click="deleteCar(car.id)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                    <pagination :data="cars" @pagination-change-page="loadCars"></pagination>
                </table>               
            </div>
        </div>            
    </div>
</template>
<script>   
    export default {
        data() {
            return {                
                user: {},               
                cars:{},
                car:{}
            }
        },

        mounted() {
            this.loadCars();             
            axios.get('http://localhost:8000/api/user')
                .then(response => {
                    this.user = response.data;
            });        
        },

        methods: {            
            logout(){
                axios.post('http://localhost:8000/api/logout')
                .then(response => {
                    localStorage.removeItem('token');                    
                    this.$router.push('/');
                    this.$router.go();
                });               
            },
            loadCars(page=1){
                axios.get('http://localhost:8000/api/mycars?page=' + page)
                    .then(response => {
                        this.cars = response.data;                                              
                    });
            },
            deleteCar(id){  
                axios.delete(`http://localhost:8000/api/cars/${id}`)
                    .then(response=>{
                        this.$router.go();                       
                    });
                   
            }   


        }
        
    }
</script>
